<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Burger Tracker</span>
</nav>
<main class="container-fluid">
  <div class="row">
    <aside class="col-2">
      <form class="create-form">
        <div class="input-group mb-3">
          <input type="text" id="ca" name="name" class="form-control" placeholder="Burger Name" aria-label="Burger Name"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
          </div>
        </div>
      </form>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/uneaten}}
        {{/unless}}
        {{/each}}
      </ul>
    </aside>
    <section class="col-10">
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/eaten}}
        {{/if}}
        {{/each}}
      </ul>
    </section>
  </div>
</main>